.settings-container{
    .content{
        background: #fff;
        @include boxShadow();
        padding: 20px 15px;
        border-radius: 5px;
        min-height: 80vh;
        .content-header{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
            .headline{
                font-size: 20px;
                font-weight: 500;
            }
            .tagline{
                font-size: 14px;
                font-weight: 300;
                color: $text-color-light;
            }
        }
        .content-body{
            h3{
                padding: 15px 0;
                font-size: 18px;
                font-weight: 500;
            }
            border-top: $line-color;
            margin-top: 15px;
            padding-top:15px;
            .table-wrapper{
                width: 100%;
                overflow: auto;
                margin-top:15px;
                table{
                    min-width: 100%;
                    th,td{
                        font-size: 12px;
                        padding: 5px;
                    }
                }
                table, th, td {
                    border: 1px solid $line-color;
                    border-collapse: collapse;
                }
            }
        }
    }
}