.settings-container{
    .content{
        background: #fff;
        @include boxShadow();
        padding: 20px 15px;
        border-radius: 5px;
        min-height: 80vh;
        .content-header{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
            .headline{
                font-size: 20px;
                font-weight: 500;
            }
            .tagline{
                font-size: 14px;
                font-weight: 300;
                color: $text-color-light;
            }
        }
    }
}