
/*-------------   Color variabel  --------------*/

//Colors
$white: #ffffff;
$black: #16161a;
$gray:#f7f7fd;

// font-color
$heading-color:#C4413A;

$line-color: #ffffff46;

//Theme color
$theme-color-green: #00695c;
$theme-color-green-dark: #004d40;
$theme-color-orange: #F24F09;
$theme-color-red: #C4413A;
$theme-color-yellow: #F7CB46;
$theme-color-blue:#006edc;


$pink_background:#fae8e2;

$primary_text:#000000;
$secondary_text:#313133;

$page-background: #eeeeee;

$text-color: #212427;
$text-color-light: #212427be;
